{% extends "lab_8/layout/base.html" %}
{% block content %}

<div id = "lab8">
    <button onclick="facebookLogin()" style="margin-top:70px">Login with Facebook</button>   
    <!-- margin supaya gak nyaru sama header  -->
</div>
{% endblock %}