{% extends "lab_7/layout/base.html" %}

{% block content %}
    <section name="friend-list" id="friend-list">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <h2> Teman Fasilkomku</h2>
                    <div id="list-teman" class="list-group">
                       
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascript %}
    <script>
        $( document ).ready(function () {
            {# lengkapi pemanggilan ajax berikut untuk mengambil daftar teman yang ada di database #}
            $.ajax({
                method: "GET",
                url: "{% url 'lab-7:get-friend-list' %}", // update // ini buat AJAX aja ya??
                dataType: 'json',
                success: function (response) { 
                    var jsonTeman = response;
                    console.log(jsonTeman.results[0].friend_name);
                    for (key in jsonTeman.results) {
                        html = "<div class = 'list-group' id ="+jsonTeman.results[key].npm+">" + jsonTeman.results[key].friend_name + "        "+ jsonTeman.results[key].npm +                     
                        "<span class='btn btn-xs btn-default' onClick =hapusTeman("+jsonTeman.results[key].npm+")> Hapus </span>" + "</div>";
                        $("#list-teman").append(html);
                        console.log(jsonTeman.results[key].npm)
                    }

                },
                error: function(error){
                    alert("errroraafasdfasdf");
                }
            }); 
        });

        var hapusTeman = function(npm) {
            console.log("NPM " + npm) // ini entah kenapa sering beda
            $.ajax({
                method : "GET",
                url: '/lab-7/delete-friend/' + npm,
                data : {npm : npm},
                success : function(response) {
                    $('#'+npm).remove();
                    alert(npm)
                },
                error : function(error) {
                    alert("gabisaa")
                }
            });
          };
    </script>
{% endblock %}
